client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

client/node_modules/
server/node_modules/

# Optional npm cache directory
client/.npm
server/.npm

# Optional REPL history
client/.node_repl_history
server/.node_repl_history

# Yarn Integrity file
client/.yarn-integrity
server/.yarn-integrity

server/*.sqlite